{% extends 'base.html' %}

{% block title %}Загрузка изображения{% endblock %}

{% block content %}
<div class="card">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
            {% if form.image.errors %}
                <div class="error">{{ form.image.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn">Готово</button>
    </form>
</div>

{% if prediction %}
<div class="result-card">
    <h2>Результат распознавания</h2>
    <img src="{{ prediction.image.url }}" alt="Загруженный цветок" class="preview-image">
    <p><strong>Класс:</strong> {{ prediction.predicted_class }}</p>
    <p><strong>RU:</strong> {{ prediction.name_ru }}</p>
    <p><strong>EN:</strong> {{ prediction.name_en }}</p>
    <p><strong>Latin:</strong> <em>{{ prediction.name_latin }}</em></p>
    <p><strong>Описание:</strong> {{ prediction.description }}</p>
    {% if prediction.confidence is not None %}
        <p><strong>Вероятность:</strong> {{ prediction.confidence|floatformat:2 }}%</p>
    {% endif %}
    {% if prediction.confidence_message %}
        <p><strong>Проверка уверенности:</strong> {{ prediction.confidence_message }}</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}
